.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-top: 5%;
}

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 50%;
  }
}

@media only screen and (max-width: 320px) {
  .header__logo {
    width: 50%;
  }
}
